* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.general-fakebutton {
    color: white;
    background-color: rgb(0, 102, 255);
}

.navbar {
    display: flex;
    width: 100%;
    min-width: 1000px;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.leftlinks-and-logo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.rightlinks-and-fakebutton {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.dropbox-logo {
    margin: 0 0 0 10px;
    padding: 7px;
}

.leftlinks-txt {
    padding: 10px 5px 10px 5px;
    margin: 0 0 0 13px;
}

.rightlinks-txt {
    padding: 10px 5px 10px 5px;
    margin: 0 23px 0 0;
}

.start-fakebutton {
    display: flex;
    padding: 8px 13px 7px 13px;
    margin: 0 23px 0 0;
}

.hero-section {
    padding-top: 60px;
    background-color: rgb(180, 208, 230);
    min-width: 1000px;
}

.hero-container {
    width: 980px;
    margin: 0 auto;
}

.hero-container-titlebox {
    display: flex;
    font-size: 30px;
    width: 100%;
}

.hero-container-box {
    display: flex;
    width: 100%;
    position: relative;
}

.hero-container-txtbox {
    display: flex;
    width: 32%;
    margin-top: 30px;
    flex-direction: column;
    align-items: flex-start;
}

.fake-trialbutton {
    display: flex;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
}


.otherinfo{
    display: flex;
    margin-top: 40px;
}

.downarrow {
    display: flex;
    font-size: 50px;
    margin-top: 31%;
}

.hero-container-imgbox {
    display: flex;
    width: 80%;
    margin-top: 30px;
    position: relative;
}

.hero-imgprop {
    display: flex;
    position: absolute;
    width: 115%;
    height: 118%;
}

.description-box {
    display: flex;
    height: 2100px;
    min-width: 1000px;
    margin-top: 130px;
    border-top: 1px solid rgb(218, 218, 218);
    justify-content: space-around;
}

.container {
    width: 60%;
}

.choose-package-duration {
    display: flex;
    /*border-bottom: 1px solid black;  DEBUG */
    margin-top: 40px;
    height: 10%;
    flex-wrap: wrap;
}

.choose-package-duration h2 {
    width: 100%;
    font-size: 40px;
}

.choose-package-duration p {
    width: 30%;
}

.fake-checkbox {
    color: white;
    border: 4px solid rgb(0, 102, 255);
    font-size: 10px;
    border-radius: 30px;
    background-color: white;
    padding: 0px 4px 0px 4px;
    margin-right: 1px;
}

.fake-checkbox-grey {
    border: 2px solid rgb(186, 186, 186);
}

.package-description {
    display: flex;
    border-bottom: 1px solid black; /* DEBUG */
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.professional-package{
    display: flex;
    width: 30%;
    height: 1000px;
    padding: 30px 20px 200px 20px;
    margin-bottom: 50px;
    border: 1px solid black;
    flex-wrap: wrap;
    border-top: 0px;
}

.package-quantity {
    width: 30%;
    padding: 5px 9% 5px 11%;
    border: 1px solid black; /* DEBUG */
    font-size: 15px;
}

.professional-package p, .professional-package h5, .professional-package h3 {
    font-size: 15px;
    width: 100%;
    margin-top: 40px;
}

.onemonth-trial {
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 30px 0 10px 0;
    height: 45px;
}


.professional-package li {
    margin-top: 15px;
}

.advanced-package{
    display: flex;
    width: 30%;
    height: 1000px;
    padding: 30px 20px 20px 20px;
    border: 1px solid black; /* DEBUG */
    flex-wrap: wrap;
    border-top: 0px;
}

.advanced-package p, .advanced-package h3, .advanced-package h5 {
    font-size: 15px;
    width: 100%;
}

.advanced-package li {
    margin-top: 8px;
}

.enterprise-package{
    display: flex;
    width: 30%;
    height: 1000px;
    padding: 30px 20px 142px 20px;
    border: 1px solid black; /* DEBUG */
    flex-wrap: wrap;
    border-top: 0px;
}

.enterprise-package p, .enterprise-package h3, .enterprise-package h5 {
    font-size: 15px;
    width: 100%;
    margin-top: 40px;
}

.package-quantity-mod {
    display: flex;
    justify-content: center;
    font-size: 15px;
    width: 100%;
    border: 1px solid black; /* DEBUG */
    margin-top: 30px;
    padding: 15px 0;

}

.enterprise-package li {
    margin-top: 15px;
}

.enterprise-package-contact{
    width: 100%;
    border: 1px solid black; /* DEBUG */
    padding: 30px 3px 30px 15px;
}

.office-contact {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.enterprise-package-contact > h2 {
    width: 60%;
    font-size: 15px;
    margin-top: 10px;
}

.enterprise-package-contact > p {
    width: 65%;
    margin-top: 30px;
}

.office-contact p {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 30%;
    padding: 10px 30px;
    margin: 5px 34px 5px 23px;
}

.findapartner {
    display: flex;
    border-bottom: 1px solid black; /* DEBUG */
    margin-top: 100px;
    flex-wrap: wrap;
}

.findapartner img {
    width: 60%;
    height: 100%;
}

.findapartner-txt-container {
    width: 40%;
    padding: 30px 0 0 30px;
}

.findapartner-txt {
    margin-top: 10px;
}

.findapartner-fakebutton {
    color: black;
    background-color: white;
    border: 1px solid black;
    margin: 40px 50% 0 0;
    padding: 5px;
    text-align: center;
}

.dropboxfunctionalities {
    display: flex;
    border-bottom: 1px solid black; /* DEBUG */
    margin-top: 100px;
    width: 60%;

}
