* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 58, 58);
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.leftlinksandlogo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.rightlinksandfakebutton {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.dropboxlogo {
    margin: 0 0 0 10px;
    padding: 7px;
}

.leftlinkstxt {
    padding: 10px 5px 10px 5px;
    margin: 0 0 0 13px;
}

.rightlinkstxt {
    padding: 10px 5px 10px 5px;
    margin: 0 23px 0 0;
}

.startfakebutton {
    display: flex;
    border: 1px solid white;
    background-color: rgb(33, 33, 255);
    margin: 0 23px 0 0;
}