* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.leftlinks-and-logo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.rightlinks-and-fakebutton {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.dropbox-logo {
    margin: 0 0 0 10px;
    padding: 7px;
}

.leftlinks-txt {
    padding: 10px 5px 10px 5px;
    margin: 0 0 0 13px;
}

.rightlinks-txt {
    padding: 10px 5px 10px 5px;
    margin: 0 23px 0 0;
}

.start-fakebutton {
    display: flex;
    color: white;
    border: 1px solid white;
    background-color: rgb(0, 102, 255);
    padding: 8px 13px 7px 13px;
    margin: 0 23px 0 0;
}

.hero-section {
    padding-top: 60px;
    background-color: rgb(180, 208, 230);
}

.container {
    width: 980px;
    margin: 0 auto;
}

.container-titlebox {
    display: flex;
    font-size: 34px;
    width: 100%;
}

.container-descriptionbox {
    display: flex;
    width: 100%;
    position: relative;
}

.slide-txtbox {
    display: flex;
    width: 32%;
    margin-top: 30px;
    flex-direction: column;
    align-items: flex-start;
}

.fake-trialbutton {
    display: flex;
    margin-top: 30px;
    color: white;
    background-color: rgb(0, 102, 255);
    padding: 10px 10px 10px 10px;
}


.otherinfo{
    display: flex;
    margin-top: 40px;
}

.downarrow {
    display: flex;
    font-size: 50px;
    margin-top: 31%;
}

.container-imgbox {
    display: flex;
    width: 80%;
    margin-top: 30px;
    position: relative;
}

.imgprop {
    display: flex;
    position: absolute;
    width: 105%;
    height: 118%;
}

.descriptionslide {
    display: flex;
    height: 2100px;
    margin-top: 130px;
    border-top: 1px solid rgb(218, 218, 218);
    flex-wrap: wrap;
    justify-content: space-around;
}

.choosepackageduration {
    display: flex;
    border-bottom: 1px solid black; /* DEBUG */
    margin-top: 40px;
    width: 60%;
    height: 10%;
    flex-wrap: wrap;
}

.choosepackageduration h2 {
    width: 100%;
    font-size: 40px;
}

.choosepackageduration p {
    width: 30%;
}

.pointemp {
    color: white;
    border: 4px solid rgb(0, 102, 255);
    font-size: 2px;
    border-radius: 30px;
    background-color: white;
    padding: 3px 4px 3px 4px;
}

.packagedescription {
    display: flex;
    /*margin-top: -300px;*/
    /*height: 40%;*/
    background-color: red; /* DEBUG */
    border-bottom: 1px solid black; /* DEBUG */
    width: 60%;
}

.findapartner {
    display: flex;
    border-bottom: 1px solid black; /* DEBUG */
    width: 60%;

}

.dropboxfunctionalities {
    display: flex;
    border-bottom: 1px solid black; /* DEBUG */
    width: 60%;

}
