* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.leftlinksandlogo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.rightlinksandfakebutton {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.dropboxlogo {
    margin: 0 0 0 10px;
    padding: 7px;
}

.leftlinkstxt {
    padding: 10px 5px 10px 5px;
    margin: 0 0 0 13px;
}

.rightlinkstxt {
    padding: 10px 5px 10px 5px;
    margin: 0 23px 0 0;
}

.startfakebutton {
    display: flex;
    color: white;
    border: 1px solid white;
    background-color: rgb(0, 102, 255);
    padding: 8px 13px 7px 13px;
    margin: 0 23px 0 0;
}

.presentationslide {
    display: flex;
    height: 700px;
    width: 100%;
    background-color: rgb(180, 208, 230);
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.slide-titlebox {
    display: flex;
    font-size: 33px;
    width: 70%;
}

.slide-descriptionbox {
    display: flex;
    width: 70%;
    position: relative;

}

.slide-txtbox {
    display: flex;
    width: 35%;
    flex-direction: column;
    align-items: flex-start;
}


.faketrialbutton {
    display: flex;
    margin-top: 30px;
    color: white;
    background-color: rgb(0, 102, 255);
    padding: 10px 10px 10px 10px;
}


.otherinfo{
    display: flex;
    margin-top: 40px;
}

.downarrow {
    display: flex;
    font-size: 50px;
    margin-top: 30%;
    margin-bottom: -25px;
}


.slide-imgbox {
    display: flex;
    width: 65%;
    position: relative;
}

.imgprop {
    display: flex;
    position: absolute;
    width: 120%;
    height: 480px;
}

.descriptionslide {
    display: flex;
    height: 1200px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.choosepackageduration {
    display: flex;
    border-bottom: 1px solid black; /* DEBUG */
    margin-top: 100px;
    width: 60%;

}

.packagedescription {
    display: flex;
    border-bottom: 1px solid black; /* DEBUG */
    width: 60%;
}

.findapartner {
    display: flex;
    border-bottom: 1px solid black; /* DEBUG */
    width: 60%;

}

.dropboxfunctionalities {
    display: flex;
    border-bottom: 1px solid black; /* DEBUG */
    width: 60%;

}
